*.txt
*.out
*.slurm
*.pth
*.csv
*.pyc
data/*
runs/*
out/*
visualizations/*
slurm_files/*
gt_out/*
tracking_wo_bnw
*.tar
slurm_files
ReID/models
ReID/datasets
ReID/runs
ReID/results
distances/
features/
histograms/
histograms_features/
